.photos{
  width: 640px;
  height: 581px;
}

.blocs{
 display: grid;
 grid-template-columns: 50% 50%;
 height: 580px;

}

.bloc1{
    background-color: linear-gradient(#A200B7, #42006C);
}

.bloc1 h1{
  color: whitesmoke;
  margin-top: 250px;
 margin-left: 100px;
 
}


.bloc1 p{
   color: whitesmoke;
   margin-left: 100px;
   text-shadow: #3c009d;
   text-transform: uppercase;
   font-size: 20px;
  }



.bloc1 button{
    background-color: #ceb8f3;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid  #3c009d;
    cursor: pointer;
    margin-left: 100px;
}